.main-home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  background-image: radial-gradient(
    
    rgb(201, 201, 221),
    rgb(16, 82, 156)
  );
  
}

.lista-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 90%;
  
}

.containerBotoes {
  margin-top: 2rem;
}

/* .botoes {
  width: 80%;
  margin-top: 10px;
  border-radius: 10px !important;
} */