header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh;
  width: 100%;
}

.imagem {
  height: 100%;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.deslogar {
  width: 8rem;
}